<?xml version="1.0" encoding="UTF-8"?>
<con:soapui-project id="b088a3d3-24b6-440a-b3b8-776535e3e3f0" activeEnvironment="Default" name="Google_Maps_API" resourceRoot="" xmlns:con="http://eviware.com/soapui/config"><con:settings/><con:requirements/><con:properties><con:property><con:name>pOutput</con:name><con:value>json</con:value></con:property></con:properties><con:wssContainer/><con:databaseConnectionContainer/><con:oAuth2ProfileContainer/></con:soapui-project>