<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="4cd32a04-2bfc-4773-90fd-3ca0e3c68867" name="Place_Nearby_Search" xmlns:con="http://eviware.com/soapui/config"><con:settings/><con:runType>SEQUENTIAL</con:runType><con:properties><con:property><con:name>output</con:name><con:value>json</con:value></con:property><con:property><con:name>key</con:name><con:value>default</con:value></con:property><con:property><con:name>location</con:name><con:value>55,-35</con:value></con:property><con:property><con:name>radius</con:name><con:value>1000</con:value></con:property><con:property><con:name>sensor</con:name><con:value>true</con:value></con:property><con:property><con:name>noKey</con:name><con:value/></con:property></con:properties><con:reportParameters/></con:testSuite>